


.titre1 { 
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 5rem;
    text-align: center;
    font-weight: 700;
}
.titre2 { 
    font-family: Arial, Helvetica, sans-serif;
    color: #d1afc7;
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
}
.titre3 { 
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
}
.titre4 { 
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}
.text1 { 
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
}



button {
  width: 80%;
  border-style: none;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.01rem;
  height: 70px;
}



menu, ul {
    display: flex;
    list-style: none;
    padding: 0;
    width: 60%;
  }
  
  li {
    flex-grow: 1;
  }

.main-menu ul li a {
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

.main-menu ul li:hover a {
    background-color: rgb(241, 44, 44);
    color: #FFF;
}
.main-menu > ul > li > ul {
    display: none;
    background-color: red;
    width: 120px;
    position: absolute;
    left: 0;
}

.main-menu > ul > li:hover > ul {
    display: block;
}

.main-menu > ul > li > ul > li > a {
    display: block;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
    padding: 0 10px;

}



